<div class="wrapper main">
  <div class="pageBody ticket">
	<div class="ticket-show">
		<%= link_to tickets_create_path,class: "today-ticket" do %>
	      <label class="label-btn">今日行ける！</label>
	    <% end %>
	</div>
  </div>
</div>